/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300&display=swap');

/* MAIN COLOR INFO */

html {
    height: 100%;
    font-size: 100%;
}

:root {
    --darkest: #2f3e46;
    --darker: #354f52;
    --medium: #52796f;
    --lightgreen: #84a98c;
    --lightest: #cad2c5;
    --black: #000814;
    --offwhite: #FAF9F6;
}

/* OVERALL BODY */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

/* VISITED LINKS DONT TURN PURPLE */
a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
}

body {
    height: 100vh;
    width: 100vw;
    background: var(--offwhite);
}

#logo {
    width: 300px;
    height: auto;
}

header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

.main {
    padding: 50px;
    text-align: left;
    display: inline-block;
    width: 100%;
}

#about-me {
    height: 538px;
    width: 550px;
    display: flex;
    margin-left: 50px;
}

#typing-container {
    display: flex;
    justify-content: left;
}

/*Drop info hidden at first */
.drop-content {
    position: absolute;
    display: none;
    background-color: var(--offwhite);
    border: #000814;
    border-radius: 10%;
}

.dropdown :hover {
    text-decoration: underline;
}

.dropdown:hover .dropbtn:hover .drop-content {
    display: block;
}

/* FOOTER ITEMS */

footer {
    position: absolute;
    bottom: 0;
}
.contacts {
    margin-bottom: 50px;
}

.contacts {
    display: inline-flex;
    justify-content: center;
    width: 100vw;
}

#git, #linkedin, #email, #phone, #discord {
    height: 125px;
    width: 125px;
    margin: 0px 15px;
}

/* Pop-Up generation */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The popup */
.popup .popuptext {
    visibility: hidden;
    background-color: var(--black);
    color: var(--offwhite);
    width: 160px;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup Arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--black) transparent transparent transparent;
}

/* Hide and show the popup on toggle */
.popup .show {
    visibility: visible;
}

.popup2 {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The popup */
.popup2 .popuptext2 {
    visibility: hidden;
    background-color: var(--black);
    color: var(--offwhite);
    width: 160px;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup Arrow */
.popup2 .popuptext2::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--black) transparent transparent transparent;
}

/* Hide and show the popup on toggle */
.popup2 .show2 {
    visibility: visible;
}