/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300&display=swap');

/* MAIN COLOR INFO */

html {
    height: 100%;
    font-size: 100%;
}

:root {
    --darkest: #2f3e46;
    --darker: #354f52;
    --medium: #52796f;
    --lightgreen: #84a98c;
    --lightest: #cad2c5;
    --black: #000814;
    --offwhite: #FAF9F6;
}

/* OVERALL BODY */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1.15rem;
    font-weight: bold;
}

/* VISITED LINKS DONT TURN PURPLE */
a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
}

body {
    height: 100vh;
    width: 100vw;
    background: var(--offwhite);
}

header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

.main {
    padding: 50px;
    text-align: left;
    display: inline-block;
    width: 100%;
}

#about-me {
    font-size: 1.15rem;
    height: 538px;
    width: 385px;
    display: flex;
    margin-left: 50px;
}

#change-sentence { 
    padding: 5px 0px;
    text-align: left;
}

#change-sentence b { 
    font-size: 1.25rem;
}

#typing-container {
    display: flex;
    justify-content: left;
}

/*Drop info hidden at first */
.drop-content {
    position: absolute;
    display: none;
    background-color: var(--offwhite);
    border: #000814;
    border-radius: 10%;
}

.dropdown :hover {
    text-decoration: underline;
}

.dropdown:hover .dropbtn:hover .drop-content {
    display: block;
}

#instagram, #phone, #email, #linkedin {
    width: 32px;
    height: 32px
}

/* FOOTER ITEMS */

footer {
    position: absolute;
    bottom: 0;
}
.contacts {
    margin-bottom: 50px;
}

.contacts {
    display: inline-flex;
    justify-content: center;
    width: 100vw;
}

#git, #linkedin, #email, #phone {
    height: 60px;
    width: 60px;
    margin: 0px 15px;
}

#drop {
    display: none;
}

#disc-drop:hover #drop li p {
   display: block;
}


