/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300&display=swap');

/* MAIN COLOR INFO */

html {
    font-size: 100%;
}

:root {
    --darkest: #2f3e46;
    --darker: #354f52;
    --medium: #52796f;
    --lightgreen: #84a98c;
    --lightest: #cad2c5;
    --black: #000814;
    --offwhite: #FAF9F6;
}

/* OVERALL BODY */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1.15rem;
    font-weight: bold;
}

/* VISITED LINKS DONT TURN PURPLE */
a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
}


body {
    min-height: 100vh;
    background: var(--offwhite);
}

header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

.main {
    padding: 100px;
    text-align: left;
    display: inline-block;
}